header {
    width: 100%;
    height: 8rem;
    background-color: var(--base_color3);
    border-bottom: .3rem solid;
    border-image: linear-gradient(to right, var(--base_color1), rgba(72, 39, 219, 1)) .5;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(8, 1fr);

}

.nav_bar ul li {
    font-size: var(--font_byDefault_size);
    color: var(--base_color_text);
}

.nav_bar ul li a {
    font-size: var(--font_byDefault_size);
    color: var(--base_color_text);
}

.navbar_item_list{
    text-align: center;
    padding: 1rem 0;
}

.navbar_item_list_link{
    padding: 1rem 5rem;
    text-align: center;
}

.logo {
    grid-column: 1/3;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.logo img {
    width: 65%;
    height: auto;
}

.bar_icon {
    display: none;
    grid-column: 8/9;
    justify-content: center;
    align-items: center;
    height: 8rem;
}

.bar1,
.bar2,
.bar3 {
    cursor: pointer;
    width: 5rem;
    height: 1rem;
    transition: 0.4s;
    background-color: var(--base_color_text);
    margin: 1rem 0;

}

.change .bar1 {
    transform: translate(0, 2rem) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -2rem) rotate(45deg);
}

.dropdown {
    position: relative;
    cursor: pointer;    
}

.dropdown_content {
    display: none;             
    flex-direction: column; 
}   

.dropdown:hover {
    position: relative;
}

.dropdown:hover .dropdown_content {
    display: flex;      
    flex-direction: column; 
} 

.dropdown:hover .dropdown_content {
    position: absolute;             
    width: 400%; 
    margin-left: -150%;
    padding: 4rem;
}

.nav_bar {
    grid-column: 3/8;   
    position: relative;
    height: 8rem;
}

.nav_bar>ul {
    top:0rem;     
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: space-around;     
    flex-direction: row;
    align-items: center;
}

.love{
    width: 400px;
    height: 500px;
    background-color: brown;
}

/* .nav_class1{
    background-color: aqua;
}
.nav_class2{
    background-color: rgba(3, 230, 59, 0.801);
}
.nav_class3{    
    background-color: rgba(230, 139, 3, 0.801);
}
.nav_class4{    
    background-color: rgba(243, 9, 165, 0.801);
} */

.navbar_item_list_link:hover  {
    animation: nav_item_anim .5s;
    background-color: rgba(122, 133, 255, .7);
    font-size: var(--font_onHover_size);
    border-radius: 3rem;
    width: 100%;
}

@keyframes nav_item_anim {
    0% {
        font-size: var(--font_byDefault_size);
        border-radius: 0rem;
        width: 70%;
    }

    100% {
        background-color: rgba(122, 133, 255, .7);
        font-size: var(--font_onHover_size);
        border-radius: 3rem;
        width: 100%;
    }

}

@media only screen and (max-width: 1368px) {}

@media only screen and (max-width: 960px) {

    header {
        grid-template-columns: repeat(4, 1fr);  
    }

    .logo {
        grid-column: 1/3;
    }

    .logo img {
        width: 70%;
        height: auto;
    }

    .bar_icon {
        grid-column: 4/5;
        display: flex;
    }
    
    .nav_bar {
        grid-column: 3/4;  
        position: relative;
        height: 8rem;
        
    }
    
    .nav_bar > ul {   
        width: 400%;
        height: 8rem;   
        margin-top: 8rem;
        margin-left: -200%;
        display:  none;
        flex-direction: column;
        justify-content: space-between;  
        /* top:8rem; */
        height: auto;
        
    }
    .dropdown:hover .dropdown_content {
       position: relative;             
       width: 200%; 
       margin-left: -50%;
       padding: 0rem;   
   }
    
}

@media only screen and (max-width: 480px) {

    .logo img {
        width: 100%;
        height: auto;
    }

}
